
.noResultspageContainer {
  margin-top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 120px); 
  background-color: #fff;
  padding: 1rem 1rem; 
  text-align: center;

  
.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 25rem; 
}

.illustration {
  width: 100%;
  max-width: 22rem; 
  height: auto;
  object-fit: contain;
}

.mainTitle {
  font-size: 2.5rem; 
  font-weight: 700; 
  color: $primary-color;
  margin-bottom: 1rem;
}

.subText {
  font-size: 1.125rem;
  color: $primary-color;
  margin-bottom: 0;
}

}
